In [ ]:
import pandas as pd
import numpy as np
import matplotlib as mp
import seaborn as sb
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix

In [60]:
train= pd.read_csv("train.csv")

In [58]:
train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [19]:
test= pd.read_csv("test.csv")

In [48]:
women = train[(train["Sex"] == "female") & (train["Survived"] == 1)]
women2    = train[(train["Sex"] == "female") & (train["Survived"] == 0)]

In [49]:
t_aw= len(women)
t_dw= len(women2)
sum= t_aw+t_dw

In [50]:
rate_w= (t_aw/sum)*100
print(f"% of women survived= {rate_w}")

% of women survived= 74.20382165605095

In [53]:
men= train[(train["Sex"] == "male") & (train["Survived"] == 1)]
men2= train[(train["Sex"] == "male") & (train["Survived"] == 0)]

In [55]:
t_am= len(men)
t_dm= len(men2)
sum2= t_am+t_dm

In [61]:
rate_m= (t_am/sum2)*100
print(f"% of men survived= {rate_m}")

% of men survived= 18.890814558058924